API_PORT=3001
API_HOST=127.0.0.1
POLY_ORDER_HISTORY_PATH=/var/lib/polymarket-tools/history.json
POLY_AUTO_REDEEM_CONFIG_PATH=/var/lib/polymarket-tools/auto-redeem.json
POLY_CRYPTO15M_DELTA_THRESHOLDS_PATH=/var/lib/polymarket-tools/crypto15m-delta-thresholds.json
POLY_RELAYER_CONFIG_PATH=/var/lib/polymarket-tools/relayer.json
POLY_PRIVKEY=
