[Unit]
Description=FKPolyTools API
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/opt/fktools/FKPolyTools_Repo/api_src
Environment=NODE_ENV=production
ExecStart=/usr/bin/npm run start
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
